#footer {
    background-color: #20120d;
    height:90px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom:50px ;
}

#footer div li {
    font-size:17px;
    margin: 10px 15px;
    color:#cccccc;
    text-align: center;
}

@media only screen and (max-width: 1250px) {
    #footer div li {
        font-size: 12px;
    }   
}
