#mobile_bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 9;
    bottom: 10px;
    width: 100%;
    text-align: center;
}



#mobile_bar a {
    border-radius: 10px;
    background-color: #FB2576;
    width: 45%;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    padding: 5px;
}

#mobile_bar a:hover {
    background-color: #870034;
}

@media only screen and (max-width: 1250px) {
    
}

@media only screen and (max-width: 800px) {
    #mobile_bar a {
        font-size: 16px;
        margin-top: 30px;
    }
}